# Python temporary files
__pycache__

# Private authentication information
config.json

# Downloaded files
data/*.zip
data/20*_item_region_data.csv
data/advance_*.csv
data/ar5_*.csv
data/ar6_metadata_indicators.xlsx
data/iTEM-MIP2.csv
ref/*.xls*

# Generated and temporary files
data/cache
data/raw
output/

# LibreOffice lockfiles
.~lock*#
